.index-body {background-color: lightcyan; font-family: "Birds of Paradise", cursive;}

h1 {color: darkblue;text-align: center; font-size: 40px;}

.introduction {color: #333333;text-align: center;font-size: 24px;}

.content {margin: 20px auto;max-width: 800px;padding: 20px;background-color: lightblue;
    border-radius: 8px;box-shadow: 1 4px 6px rgba(0, 0, 0, 1);}

.mafrisechronologique {display: block;margin: 20px auto;max-width: 800px;padding: 20px;
    background-color: darkblue;color: white;
    ;border-radius: 8px;cursor: pointer;font-size: 16px;width: 400px;height: 100px;
    text-align: center;box-shadow: 2 6px 10px rgba(0, 0, 0, 0.5);font-size:30px;}

.conclusion {color: #333333;text-align: center;font-size: 16px;}

.footer-gauche {font-size: 15px;text-align:left ;margin-top: 20px;color: #000000;}

.footer-droit {font-size: 15px;text-align:right ;margin-top: 20px;color: #000000;}

.politique {cursor: pointer}
.contact {cursor: pointer}
.information {cursor: pointer}

* {box-sizing: border-box;}
.index2-body {margin: 0;height: 100vh;display: flex;flex-direction: column;}
header {background-color: lightblue;border: 2px solid black;height: 70px;border-radius: 12px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);margin-bottom: 10px;display: flex;
    align-items: center;gap: 10px;}
main {display: flex; flex: 1;gap: 10px;; padding: 10px;}
#workspace {flex: 1;border: 2px solid black;background-color: white;border-radius: 12px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);}

#sauvegarder {margin: 10px;padding: 10px;background-color: lightblue;border: 2px solid black;
    border-radius: 12px;box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);cursor: pointer;}
#modal{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);
    display: none;justify-content: center;align-items: center;z-index: 9999;}
.modal-content {background-color: white;padding: 20px;border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);text-align: center;}

#nouvel-element {margin: 10px;padding: 10px;background-color: lightblue;border: 2px solid black;
    border-radius: 12px;box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);cursor: pointer;}

#annuler {margin: 10px;padding: 10px;background-color: lightblue;border: 2px solid black;
    border-radius: 12px;box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);cursor: pointer;}

#refaire {margin: 10px;padding: 10px;background-color: lightblue;border: 2px solid black;
    border-radius: 12px;box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);cursor: pointer;}

.timeline {width: 80%;height: 250px;border: 2px dashed red;display: flex;flex-direction: column;}

.timeline-top {flex: 1; display:flex;justify-content: center;align-items: center;}
.border-bottom {width: 90%;height:4px; background : black;}

.timeline-events {flex: 2;border: 2px dashed green;}

.timeline-bottom {flex: 1; display:flex;justify-content: center;align-items: center;}
.border-top {width: 90%;height:4px; background : black;}


